
// preset form values if we receive a userdata object //
- user = typeof(user) != 'undefined' ? user : { }
// store the userId on the client side in a hidden input field //
input(type='hidden', value= user._id)#userId

#account-form-container
	form( method="post")#account-form.form-horizontal.well.span6
		h1
		//- p#sub1.subheading Please tell us a little about yourself.
		hr
		fieldset
			//- #name-cg.control-group
				label.control-label(for='name-tf') 名前
				.controls
					input#name-tf.input-xlarge(type='text', name='name', value= user.name)
			#email-cg.control-group
				label.control-label(for='email-tf') メールアドレス
				.controls
					input#email-tf.input-xlarge(type='text', name='email', value= user.email)
			//- #clist-cg.control-group
				label.control-label(for='country-list') 会社名
				.controls
					input#name-tf.input-xlarge(type='text', name='country', value= user.country)
			//- hr
			//- p#sub2.subheading
			//- #user-cg.control-group
				label.control-label(for='user-tf') ユーザ名（消す）
				.controls
					input#user-tf.input-xlarge.disabled(type='text', name='user', value= user.user)

			if url == 'home'
				.control-group
					label.control-label 名前
					.controls
						input.input-xlarge(type='text', name='name', value= user.name)
				.control-group
					label.control-label 会社名
					.controls
						input.input-xlarge(type='text', name='corporate', value= user.corporate)

			hr
			#pass-cg.control-group
				label.control-label(for='pass-tf') パスワード
				.controls
					input#pass-tf.input-xlarge(type='password', name='pass', value='')

			.form-actions
				button(type='button')#account-form-btn1.btn
				button(type='submit')#account-form-btn2.btn

// display form errors in a custom modal window //

include modals/form-errors
