!!! 5
html
	head
		title Sample
		link(rel='shortcut icon', href='/img/16-16.ico')
		link(rel='apple-touch-icon', href='/img/pd.png')
		link(rel='stylesheet', href='/vendor/bootstrap.min.css')
		link(rel='stylesheet', href='/css/style.css')
	body
		div.navbar.navbar-fixed-top
			div.navbar-inner
				div.container-fluid
					ul#global-nav.nav.pull-left
						li
							a(href='/').brand Sample

		block content

include modals/alert
block scripts
	script(src='/vendor/jquery.min.js')
	script(src='/vendor/jquery.form.js')
	script(src='/vendor/bootstrap-modal.js')
	script(src='/vendor/bootstrap-transition.js')
	script(src='/js/views/movie.js')
	script(src='/js/controllers/movieController.js')
	script(src='/js/form-validators/movieValidator.js')