
extends layout

block content
	div.well(style="margin:0 auto;width:480px")
		div.movie!= accts.html
		table
			tr
				td タイトル：
				td= accts.title
			tr
				td 詳細：
				td= accts.detail
			tr
				td ジャンル：
				td= accts.genre
		button(onclick='history.back(); return false;').btn.btn-back 戻る
