
extends layout

block content

	// preset form values if we receive a moviedata object //
	- movie = typeof(udata) != 'undefined' ? udata : { }
	// store the movieId on the client side in a hidden input field //
	input(type='hidden', value= movie._id)#movieId

	#account-form-container
		form( method="post")#account-form.form-horizontal.well.span6
			h1
			p#sub1.subheading Please tell us a little about yourself.
			hr
			fieldset
				#title-cg.control-group
					label.control-label(for='title-tf') title
					.controls
						input#title-tf.input-xlarge(type='text', name='title', value= movie.title)
				#detail-cg.control-group
					label.control-label(for='detail-tf') detail
					.controls
						input#detail-tf.input-xlarge(type='text', name='detail', value= movie.detail)
				#html-cg.control-group
					label.control-label(for='html-tf') html
					.controls
						textarea#html-tf.textarea-xlarge(type='text', name='html', value= movie.html)
				#clist-cg.control-group
					label.control-label(for='genre-list') genre
					.controls
						select#genre-list(name='genre')
							each item in genres
								option(selected=item.name == movie.genre)= item.name
				hr

				.form-actions
					button(type='button')#account-form-btn1.btn
					button(type='submit')#account-form-btn2.btn

	// display form errors in a custom modal window //

	include modals/form-errors
	include modals/alert

block scripts
	script(src='/vendor/jquery.min.js')
	script(src='/vendor/jquery.form.js')
	script(src='/vendor/bootstrap-modal.js')
	script(src='/vendor/bootstrap-transition.js')
	script(src='/js/views/movie.js')
	script(src='/js/controllers/movieController.js')
	script(src='/js/form-validators/movieValidator.js')